body {
  background-color: black;
  overflow: hidden;
}

.render-time {
  position: fixed;
  bottom: 0;
  padding: 6px;
  opacity: 0.75;
  color: white;
  font-family: monospace;
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle-btn {
  position: fixed;
  top: 0;
  min-width: 120px;
  padding: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggle-btn::after {
  content: "Click to Toggle";
  display: block;
  font-size: 11px;
  opacity: 0.5;
}